<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="testing">
        <h1 v-if="status == true">Hello Vue JS</h1>
        <h1 v-else>Hay. I am False.</h1>

        <h3 v-if="fruit == 'apple'">I am apple</h3>
        <h3 v-else-if="fruit == 'orange'">I am orange</h3>
        <h3 v-else-if="fruit == 'banana'">I am banana</h3>
        <h3 v-else>I am not fruit</h3>

        <h1 v-show="status">OK</h1>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#testing',
            data: {
                status: false,
                fruit: 'apple',
            },
        });
    </script>
</body>
</html>