<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" name="" id="" v-model="message" />
        <ul>
            <li v-for="(item,index) in numbers">{{index}} : {{item}}</li>
        </ul>

        <table border="1">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>gender</th>
            </tr>
            <tr v-for="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.gender}}</td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                message: "",
                numbers: ['one','two','three'],
                items : [
                    {id: '1',name: 'tun tun', gender: 'male'},
                    {id: '2',name: 'aung aung', gender: 'male'},
                    { id: '3', name: 'aye aye', gender: 'female' },
                ]
            },
        })
    </script>
</body>
</html>